<h1>Cart</h1>

<table>
  <tr>
    <td><strong> Products</strong></td>
    <td><strong> price</strong></td>
    <td><strong> quantity </strong></td>
  </tr>

  {{#each data.products}}
    <tr>
      {{#this.id}}
        <td>{{title}}</td>
        <td>{{price}}</td>
      {{/this.id}}
      <td>{{this.quantity}}</td>
    </tr>

  {{/each}}
  {{log user.user.cart}}
</table>
<form action="/api/carts/{{user.user.cart}}/purchase" method="post">
  <button type="submit">Finalizar compra</button>
</form>